.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.oneline {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.twoline {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.threeline {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
           line-clamp: 3; 
   -webkit-box-orient: vertical;
}

.fourline {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4;
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

/*------------- HOME -------------
.hero-bg {
    width: 100%;
    background-image: url(../assets/hero/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

/*Bottom Navbar*/
.bottom-nav {
    border-top: solid 1px #C58C10;
    height: 70px;
}

.bottom-nav .nav-item {
    padding-left: 1px;
}

.bottom-nav .nav-item .nav-link {
    color: #C58C10 !important;
    font-weight: 400;
}

.bottom-nav ul li a p {
    font-size: 12px;
}

.mobile-book {
    background-color: #C58C10;
    color: #ffff;
    border: none;
    font-size: 12px;
}

/* TOP NAV */
.nav-item {
    padding-left: 30px;
}

.nav-item .nav-link {
    color: #C58C10 !important;
    font-weight: 500;
}

.bg-white {
    background-color: #ffff;
}

.bg-grey {
    background-color: #191B20;
}

.bg-Black {
    background-color: #0F1014;
}

.bg-main {
    background-color: #C58C10;
}

.text-white {
    color: #ffff;
}

.title-section {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.about {
    padding: 50px;
}

.about h1{
    padding-top: 100px;
}

.about img{
    width: 100%;
    height: 100%;
    object-fit: cover
}

.product-card{
    padding: 10px;
}

.product-card-in{
    padding: 10px;
    background-color: #ffff;
    border-radius: 16px;
}

.product-card-in a {
    border-radius: 25px;
}

.product-card-in i {
    margin-left: 10px;
    margin-right: 10px;
}

.product-card img{
    max-width: 100%;
}

.product-card h4 {
    color: #C58C10;
}

.product-card .btn-link {
    color: #dd1e1e;
    font-weight: 500;
}

.product-card .btn-primary {
    background-color:#C58C10;
    font-weight: 500;
    border: none;
}

.sales-card {
    padding: 10px;
    height: 350px;
}

.sales-card img {
    max-height: 50%;
}

.sales-card .btn-primary {
    background-color:#C58C10;
    font-weight: 400;
    border: none;
}

.sales-arrow {
    font-size: 35px;
    color: #C58C10;
    position: absolute;
    margin-top: -80px;
}

.promo-card {
    padding: 10px;
}

.promo-card img {
    max-width: 100%;
}

.artikel-card {
    padding: 10px;
}

.artikel-card img{
    width: 100%;
    height: 250px;
    object-fit: cover
}

.artikel-card .sml{
    padding: 5px;
    width: 100%;
    height: 120px;
    object-fit: cover
}



@media screen and (max-width:767px) {
    .artikel-card {
        padding: 0px;
    }

    .artikel-card img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        padding-bottom: 20px;
    }

    .artikel-card .sml{
        width: 100%;
        height: 250px;
        object-fit: cover
    }

    .about {
        padding: 20px;
    }
    
    .about h1{
        padding-top: 50px;
    }
    
    .about img{
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.partner-card {
    padding: 10px;
}

.partner-card img{
    max-width: 60%;
}

/*------------- PRODUCT -------------*/
.bg-product {
    background-image: url(../assets/hero/banner.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 280px;
    padding-top: 8%;
}

@media screen and (max-width:767px) {
    .bg-product {
        background-image: url(../assets/hero/banner.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: auto;
        height: 80px;
        padding-top: 8%;
    }

    .bg-product h1 {
        font-size: 16px;
    }
}

.bg-breadcrumb {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #ffff;
}

.breadcrumb li a {
    text-decoration: none;
    color: #303030;
    font-weight: 500;
}

.breadcrumb .breadcrumb-item.active {
    color: #CD9933;
}

nav ul.pagination li.page-item a.page-link {
    color: #CD9933;
}

.pagination {
    justify-content: center;
}

/*------------- PRODUCT DETAIL -------------*/
.bg-product-detail {
    background-image: url(../assets/product/BinguoEV-detail.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.product-detail-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-detail-title h1 {
    font-size: 60px;
    font-weight: 700;
}

.produk-img {
    width: 50%;
    padding: 50px;
}

.detail-desain {
    padding: 10px;
}

.detail-desain img {
    width: 100%;
}

.detail-desain h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 25px;
}

.simulasi-kre {
    width: 90%;
    border-radius: 10px;
    padding: 50px;
    border: solid 1px;
    border-color: #C58C10;
    background-color: #ffff;
    color: #303030;
}

.desain-arrow {
    font-size: 35px;
    color: #C58C10;
    position: absolute;
    margin-top: -30px;
}

@media screen and (max-width:767px) {
    .bg-product-detail {
        background-image: url(../assets/product/BinguoEV-detail.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: auto;
        height: 150px;
    }

    .product-detail-title {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .product-detail-title h1 {
        font-size: 20px;
        font-weight: 700;
    }

    ul.nav.nav-tabs li.nav-item button.nav-link {
        width: 250px;
        border-bottom: solid 1px;
    }

    nav div.nav-tabs button.nav-link.active {
        width: 100%;
    }
    
    nav div.nav-tabs button.nav-link:hover {
        width: 100%;
    }

    .simulasi-kre {
        width: 100%;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
        border: solid 1px;
        border-color: #C58C10;
        background-color: #ffff;
        color: #303030;
    }

    .produk-img{
        width: 100%;
    }
}

/*------------- PROMO -------------*/
.bg-promo {
    background-image: url(../assets/hero/hero.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: auto;
    height: 250px;
}

.banner-promo {
    padding: 20px;
}

.banner-promo img {
    width: 100%;
}

.accordion-button {
    color: #C58C10;
}

@media screen and (max-width:767px) {
    .bg-promo {
        background-image: url(../assets/hero/hero.png);
        background-size:cover;
        background-repeat: no-repeat;
        width: auto;
        height: 60px;
    }
}

/*----------Detail Artikel----------*/
.artikel-detail {
    margin-top: 50px;
}

.artikel-details h1 {
    font-size: 32px;
    color: #ffff;
}

.detail-side .promo-side {
    width: 100%;
    margin-top: 25px;
}

.artikel-details .badge {
    margin-bottom: 20px;
}

.artikel-details p {
    color: #ffff;
}

.artikel-details img {
    margin-bottom: 25px;
    width: 100%;
}

.detail-side {
    padding: 30px;
}

.detail-side h3 {
    color: #C58C10;
    font-size: 20px;
    margin-top: 50px;
}

.detail-side .badge {
    margin-bottom: 15px;
}

.detail-side .artikel-img {
    margin-top: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.detail-side {
    color: #ffff;
}

@media screen and (max-width:767px) {
    .artikel-details {
        width: auto;
    }

    .artikel-details img {
        width: 100%;
    }

    .artikel-details p {
        color: #ffff;
        font-size: 12px;
        line-height: 20px;
    }

    .artikel-details h1 {
        color: #ffff;
        font-size: 15px;
        font-weight: 500;
    }
}

/*-------------- CONTACT US ----------------*/

.title-tentang h1 {
    font-weight: 400;
    font-size: 50px;
    padding-top: 300px;
}

.tentang-cont h1 {
    font-size: 40px;
    font-weight: 500;
}

.tentang-cont p {
    font-size: 14px;
    line-height: 25px;
}

.tentang-cont img {
    width: 100%;
}

.tentang {
    margin-top: 150px;
    margin-bottom: 150px;
}

.tentang-cont2 h1 {
    font-size: 40px;
    font-weight: 500;
}

.tentang-cont2 p {
    font-size: 14px;
    line-height: 25px;
}

.tentang-cont2 img {
    width: 35%;
}

.head {
    margin-bottom: 200px; 
    height: 500px;
}

@media screen and (max-width:767px) {
    .title-tentang h1 {
        font-weight: 400;
        font-size: 25px;
        padding-top: 50px;
    }

    .bg-tentang {
        height: 150px;
    }

    .tentang {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .tentang-cont h1 {
        font-size: 20px;
        font-weight: 500;
    }

    .tentang-cont2 h1 {
        font-size: 20px;
        font-weight: 500;
    }
}

/*Modal*/
.modal-header{
    background-color: #C58C10;
}

.modal-header h1 button {
    color: #0F1014;
}

.hasil h1 {
    color: #C58C10;
    font-size: 25px;
    font-weight: 700;
}

.hasil h3 {
    color: #C58C10;
    font-size: 20px;
    font-weight: 700;
}

.hasil p {
    color: #C58C10;
    font-size: 14px;
    font-weight: 700;
}

.hasil button {
    background-color: #C58C10;
    border: none;
}

/*--------- FOOTER -----------*/
.footer p {
    font-size: 14px;
}

.footer i {
    font-size: 24px;
    margin-left: 10px;
}

@media screen and (max-width:767px) {
    .footer p {
        font-size: 12px;
    }

    .footer i {
        font-size: 16px;
        margin-left: 5px;
    }
}

/*floating button*/
.float{
	position:fixed;
	bottom:300px;
	right:0px;
	background-color: #191B20;
	color: #C58C10;
	border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
	text-align:center;
	box-shadow: 2px 2px 3px #C58C10;
    z-index: 3;
    padding: 10px;
}

.my-float div{
	font-size: 10px;
    font-weight: 700;
    color: #C58C10;
}

.my-float a {
    text-decoration: none;
}

.my-float i {
    font-size: 25px;
    color: #C58C10;
}

@media screen and (max-width:767px) {
    .float{
        position:fixed;
        bottom:90px;
        right:0px;
        background-color: #191B20;
        color: #C58C10;
        border-top-left-radius:5px;
        border-bottom-left-radius: 5px;
        text-align:center;
        box-shadow: 2px 2px 3px #C58C10;
        z-index: 3;
        padding: 10px;
    }
}